<?xml version="1.0"?>

<model>
  <name>linefollower_samplecourse</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Atsushi Kuwagata</name>
    <email>kuwagata@rt-net.jp</email>
  </author>

  <description>
    linefollower samplecourse
  </description>
</model>
